<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.taplock.sapo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sapo">
        <activity android:name=".add_user.AddUser"></activity>
        <activity android:name=".buy_ekeys.Buy_eKeys" />
        <activity android:name=".payments" />
        <activity android:name=".users_list.UsersList" />
        <activity android:name=".emailverification.EmailVerification" />
        <activity android:name=".add_itap.StepTwo" />
        <activity android:name=".add_itap.AddItap" />
        <activity
            android:name=".menu.Menu"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".politica_de_privacidad" />
        <activity android:name=".terminos_y_condiciones" />
        <activity android:name=".signup.SignUp" />
        <activity android:name=".sign_in.SignIn">
            <intent-filter>
                <action android:name="my_action" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="my_host"
                    android:scheme="my_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>